.hidden {
  display: none;
}

:root {
  --primary-text-color: #434455;
  --hero-title-color: #ffffff;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-color: #f4f4fd;
  --navyblue-moda: #2e2f42;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}

body {
  color: var(--primary-text-color);
  background-color: var(--hero-title-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* button*/
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  text-align: center;
  cursor: pointer;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* sektion*/
.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-title {
  margin-bottom: 72px;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* --------hero--------- */

.section-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/hero/bg-mobile.jpg);
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-title {
  font-weight: 700;
  margin: 0 auto;
  color: var(--hero-title-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}

.hero-button {
  display: block;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 31px;
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* .button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--hero-tatle-color);
  background-color: var(--accent-color);
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--hero-tatle-color);
  background-color: #404bbf;
} */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/hero/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/hero/bg-tablet.jpg);
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 767px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../../images/hero/bg-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/hero/bg-desktop.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../../images/hero/bg-desktop@2x.jpg);
    }
  }
}

/* --------principles--------- */

.section-principles {
  padding-top: 96px;
  padding-bottom: 96px;
}


.principle-item-title,
.team-item-title,
.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  text-align: center;
}

.principle-item-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

.principles-list-item {
  margin-bottom: 72px;
}

.principle-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .principles-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .principles-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .principle-item-title,
  .team-item-title,
  .portfolio-item-title {
    text-align: left;
  }

  .principle-item-text,
  .team-item-text,
  .portfolio-item-text,
  .footer-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {

  .section-principles {
    padding: 120px 0;
  }

  .principle-icon {
    display: flex;
    background-color: var(--background-color);
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .principles-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }

  .principles-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .principle-item-title,
  .team-item-title,
  .portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .principle-item-text,
  .team-item-text,
  .portfolio-item-text,
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Our Team*/
.section-team {
  padding: 120px 0;
  background: #f4f4fd;
}

.team-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list-item {
  display: block;
  background-color: var(--hero-title-color);
  text-align: center;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-list-item img {
  display: block;
  width: 100%;
  height: auto;
}

.team-item-title,
.team-item-text {
  text-align: center;
  margin: 0 auto 8px;
}

.team-text-wrapper { 
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item-text {
  margin-bottom: 8px;
}
.team-title {
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--background-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-list {
      flex-direction: row;
      /* Меняем колонку на строку */
      flex-wrap: wrap;
      /* Разрешаем перенос на вторую строку */
      justify-content: center;
      /* Центрируем карточки, если контейнер шире */
      column-gap: 24px;
      /* Отступ между колонками */
      row-gap: 64px;
      /* Отступ между верхним и нижним рядом */
    }
     .team-list-item {
       width: calc((100% - 24px) / 2);
      margin: 0;
     }
  }
  @media screen and (min-width: 1158px) {
  .team-list {
      gap: 24px;
    }
    .team-list-item {
      width: calc((100% - 24px * 3) / 4);
    }
      }