.main-portfolio {
  padding-top: 64px;
  padding-bottom: 96px;
}
.app-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  margin-bottom: 64px;
}
.portfolio-button {
  color: var(--accent-color);

  background-color: var(--background-color);

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  cursor: pointer;
}
.container-gallery {
  padding-top: 42px;
  padding-bottom: 120px;
}
.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.gallery-item {
  border: 1px solid var(--cloud, #f4f4fd);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.gallery-content-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 2px;
}
.gallery-content-paragraph {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.bestseller-list-overley-wrapper {
  position: relative;
  overflow: hidden;
}
.overleu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--titing-duration) var(--timing-function);
}
.gallery-link:hover .overleu {
  transform: translateY(0%);
}
.gallery-link:focus .overleu {
  transform: translateY(0%);
}
.gallery-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (max-width: 428px) {
  .gallery-content {
    padding-left: 36px;
    padding-right: 36px;
  }
  .gallery {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .main-portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .app-list {
    display: flex;
    justify-content: center;

    margin-bottom: 72px;
  }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }

  .gallery-item {
    width: calc((100% - 48px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .gallery {
    row-gap: 48px;
  }
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
}
/*
.main-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container-portfolio {
  padding-top: 96px;
  padding-bottom: 42px;
}
.app-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}



























.portfolio-button:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-button:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}














.gallery-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.gallery-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.gallery-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}






























.gallery-content .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.4px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.gallery-content .paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
*/
